@import "tailwindcss";

@theme {
    --font-sans: 'Manrope', ui-sans-serif, system-ui, sans-serif;

    /* fundal & suprafete */
    --color-bg: #F6F8F6;
    --color-surface: #FFFFFF;
    --color-border: #E3E8E4;

    /* text */
    --color-ink: #16241C;
    --color-ink-soft: #5C6B62;

    /* accent verde */
    --color-primary: #24603F;
    --color-primary-hover: #1B4A30;
    --color-primary-soft: #E3F1E8;

    /* stari */
    --color-danger: #B3261E;
}

[x-cloak] {
    display: none !important;
}
